@model SchoolWebsite.Models.Przedmiot

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/_LayoutPage.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Przedmiot</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nazwa gatunku
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Specie.Name)
        </dd>

        <dt>
            Nazwa przedmiotu
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PrzedmiotID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
