@model IQueryable<SchoolWebsite.Models.Course>
@{
    ViewBag.Title = "Education";
    Layout = "~/Views/_LayoutPage.cshtml";
}


<h2>Education</h2>
@*@using(@Html.BeginForm("Education","Home",FormMethod.Get)){
@Html.DropDownList("Rodzaj",(IEnumerable<SelectListItem>)ViewBag.Rodzaje)
    <input type="submit" value="submit"/>
}*@
@using (Ajax.BeginForm(
    new AjaxOptions { 
    HttpMethod ="GET",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "listaKursow",
    }))
{
    @Html.DropDownList("Rodzaj", (IEnumerable<SelectListItem>)ViewBag.Rodzaje)
    <input type="submit" value="submit" />
}

@Html.Partial("_CourseList",Model)