
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_LayoutPage.cshtml";
}<div class="col-lg-12">
    <div class="col-lg-4">
        <img src="~/Images/sggw10.jpg" class="img-thumbnail" style="float:left"/>
        
    </div>
    <div class=" col-lg-offset-1 col-lg-7 pull-right" >
       <h3>Thie school is one of best Universities in the world, nah just kidding :)</h3>
        <p>I graduated it one year ago and i think if i would chose again i wouldnt pick it as my primary choice nononon never</p>
    @ViewBag.Message
    </div>
 
</div>



